:host ::ng-deep * {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-grow: 0;
  text-align: center;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
}

:host ::ng-deep .state {
  fill: rgb(190, 190, 190);
}

:host ::ng-deep .state:hover {
  fill: rgb(112, 156, 194)
}

:host ::ng-deep .legend {
  display: table;
  margin: 0 auto;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  height: 35px;
  width: 250px;
}

:host ::ng-deep div.tooltip {
  color: #222;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  padding: .2em;
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9;
  position: absolute;
}

:host ::ng-deep .circle {
  fill: #4fbba9;
  opacity: .5;
}

:host ::ng-deep .circle:hover {
  opacity: 1;
}
td > div {
  text-align:center;
  float: left;
}
